body {
  background-color: #0a6c03;
  color: black;
  font-weight: bolder;
}

h1 {
  text-align: center;
  color: red;
}

h2 {
  font-family: Tahoma, Geneva, sans-serif;
  color: red;
}
#placeholder {
 height: 200px;
 width: 200px;
 padding: 50px;
 margin: 50px auto;
 border: 2px solid red;
 border-radius: 10px;
 font-size:80px;
}
button {
 background-color: red;
 border-radius: 6px;
 color: green;
 padding: 10px;
 width: 100px;
 align;center;
}
