body {
  background-color: #0a6c03;
  color: black;
  font-weight: bolder;
}

h1 {
  text-align: center;
  color: red;
}

.jumbotron {
  /* width: 500px; */
}

h2 {
  font-family: Tahoma, Geneva, sans-serif;
  color: red;
}
.col-md-4{
  background-color: red;
}
